@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
.site-container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}
.main_background{
  position: absolute;
  top: 0px;
  z-index: -1;
}
.background_image{
  max-width: 100%;
  user-select: none;
  object-fit: fill;
  object-position: center;
}
.header{
    width: 100%;
    padding-top: 43px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #60606e;
    padding-left: 80px;
}

.menu-btn{
  display: block;
  width: 50px;
  height: 50px;
  background-color: none;
  border-radius: 50%;
  position: relative;
  padding-right: 80px;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after{
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%;  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #60606e;

}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before{
  transform: translateY(-5px);
}
.menu-btn span::after{
  transform: translateY(5px);
}
/* Alternative variat */
/* .menu-btn_active span {
  height: 0px;
} */
.menu-btn_active span:before{
  transform: rotate(45deg);
  transform-origin: left bottom;
  width: 10px;
}
.menu-btn_active span:after{
  transform: rotate(-45deg);
  width: 10px;
  transform-origin: left top;
}
.menu-block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-nav__link{
  display: inline-block;
  text-decoration: none;
  color: #60606e;
  margin-right: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.menu-nav{
  transition: 0.3s;
  transform-origin: right center;
  transform: scaleX(0) translateX(0%);
  opacity: 0;
  background-color: none;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 40px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.menu-nav_active{
  transform: scaleX(1) translate(0%);
  opacity: 1;
}

.history{

}
.history_title{
  width: 555px;
  margin: 0 auto;
  text-align: center;
  margin-top: 170px;
}
.history_top_title{
  width: 100px;
  height: 30px;
  background-color: #7beec7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #60606e;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.history_bottom_title{
  width: 535px;
  height: 80px;
  border: 10px solid #60606e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #60606e;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 25px;
}
.history_subtitle_text{
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #60606e;
  line-height: 24px;
  margin-bottom: 125px;
}
.history_text{
  display: flex;
}
.history_image{
  margin-left: 80px;
  position: relative;
  width: 458px;
  height: 400px;
}
.history_image_content{
  position: absolute;
  top: -40px;
}
.history_text_content{
  width: 555px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #60606e;
  margin-left: 130px;
  line-height: 30px;
}
.history_text_content_title{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin-bottom: 10px;
}
.history_text_content_title_background{
  width: 67px;
  height: 21px;
  background-color: #7beec7;
  position: absolute;
  bottom: -5px;
  z-index: -1;
}
.history_main_text{
  position: relative;
  padding-bottom: 50px;
}
.history_button{
  width: 165px;
  height: 50px;
  background-color: #7beec7;
  position: absolute;
  bottom: -50px;
  right: 0px;
}
.history_button a{
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;
  width: 165px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}